*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Segoe UI,sans-serif;
}

html{
    scroll-behavior:smooth;
}

nav{
    position:fixed;
    width:100%;
    top:0;
    z-index:1000;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:20px 8%;

    background:rgba(0,0,0,0.4);
    backdrop-filter:blur(10px);
}

.logo{
    color:white;
    font-size:28px;
    font-weight:bold;
}

nav ul{
    display:flex;
    gap:25px;
    list-style:none;
}

nav a{
    color:white;
    text-decoration:none;
}

.hero{
    height:100vh;

    background:
    linear-gradient(
    rgba(0,0,0,.5),
    rgba(0,0,0,.5)),
    url("https://images.unsplash.com/photo-1500937386664-56d1dfef3854?auto=format&fit=crop&w=1920&q=80");

    background-size:cover;
    background-position:center;

    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
}

.overlay{
    color:white;
}

.overlay h1{
    font-size:65px;
    margin-bottom:20px;
}

.overlay p{
    font-size:22px;
    margin-bottom:30px;
}

.btn{
    text-decoration:none;
    color:black;
    background:#f9c80e;
    padding:14px 30px;
    border-radius:30px;
    font-weight:bold;
}

.section{
    padding:80px 10%;
    text-align:center;
}

.section h2{
    color:#0f6d34;
    margin-bottom:20px;
    font-size:40px;
}

.products{
    background:#eef8ee;
}

.product-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
    gap:30px;
}

.card{
    background:white;
    border-radius:20px;
    overflow:hidden;
    box-shadow:0 5px 20px rgba(0,0,0,.1);
    transition:.3s;
}

.card:hover{
    transform:translateY(-10px);
}

.card img{
    width:100%;
    height:220px;
    object-fit:cover;
}

.card h3{
    padding:15px;
}

.card p{
    padding:0 15px 20px;
}

.stats{
    padding:70px 10%;
    background:#0f6d34;

    display:flex;
    justify-content:center;
    gap:40px;
    flex-wrap:wrap;
}

.stat{
    color:white;
    text-align:center;
}

.stat h3{
    font-size:45px;
}

.contact-box{
    max-width:600px;
    margin:auto;
    background:white;
    padding:40px;
    border-radius:20px;
    box-shadow:0 5px 20px rgba(0,0,0,.1);
}

.contact-box p{
    margin-bottom:12px;
}

.contact-box button{
    background:#0f6d34;
    color:white;
    border:none;
    padding:12px 30px;
    border-radius:30px;
    cursor:pointer;
}

footer{
    background:#111;
    color:white;
    text-align:center;
    padding:20px;
}

@media(max-width:768px){

.overlay h1{
    font-size:40px;
}

nav{
    flex-direction:column;
}

}
